* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* font-family: 'Anton', sans-serif; */
/* font-family: 'Jost', sans-serif; */
:root {
    --dark: #4a148c;
    --headerText: #e0f7fa;
    --bodyBg: #7c4dff;
    --button: #f50057;
}

body {
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: black;
}

.hide {
    visibility: none;
}

header {
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 2%;
    position: static;
    background-image: url('images/pj1-jeopardy-background.jpeg');
    color: var(--headerText);
    letter-spacing: 20px;
}

h1 {
    margin: 0 auto;
    padding: 1%;
    font-family: 'Anton', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    color: var(--headerText);
    letter-spacing: 5px;
}
/* .dropdown-trigger {
    background-color: var(--bodyBg);
} */

#start-quiz {
    background-color: var(--button);
    border-radius: 10px;
}
.container {
    border: white groove 3px;
}

.flexbox {
    position: relative;
    left: 10%;

}
.grid-label {
    background-color: darkblue;
    margin: 4px;
    min-height: 100px;
    border-radius: 5px;
}

.grid-label h5 {
    color: white;
    text-align: center;
    padding:10%;
    margin: 0px !important;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
}

.grid {
    background-color: darkblue;
    margin: 4px;
    border-radius: 5px;
}

.grid h5 {
    color: gold;
    text-align: center;
    padding: 8%;
    margin: 0 !important;
    font-family: 'Anton', sans-serif;
}

.custom-row {
    margin: 0px 0px;
    padding: 0;
    line-height: normal;
}

#parameters {
    padding: 20px;
    margin-top: 20px;
    background-image: url('images/pj1-jeopardy-globe-crop.jpeg');
    border-radius: 10px;
}
#textarea1 {
    color: yellow;
}

#toast-container {
    min-width: 10%;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

.answered{
    color: darkblue !important;
}
