* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* font-family: 'Anton', sans-serif; */
/* font-family: 'Jost', sans-serif; */

body {
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.hide {
    visibility: none;
}

header {
    margin-top: 0;
    padding-top: 2%;
    position: static;
    background-color: teal;
}

h1 {
    margin: 0 auto;
    padding: 1%;
    font-family: 'Anton', sans-serif;
}



.flexbox {
    position: relative;
    left: 10%;

}
.grid-label {
    background-color: darkblue;
    margin: 20px;
    min-height: 100px;
}

.grid-label h5 {
    color: white;
    text-align: center;
    padding:10%;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

.grid {
    background-color: darkblue;
    margin: 20px;
}

.grid h5 {
    color: gold;
    text-align: center;
    padding: 10%;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

.custom-row {
    margin: 10px;
    padding: 0;
    line-height: normal;
}

#toast-container {
    min-width: 10%;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

.answered{
    color: darkblue !important;
}